*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: #414141;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.navbar a{
    font-weight: bold;
    color: white;
}

.navbar a:hover{
    color:#ff6600;
}

.name_product{
    text-align: right;
}

.name_product h1{
    color: white;
    font-size: 110px;
    font-weight: 1000;
}

.duke{
    color:#ff6600;
}

button{
    border: none;
}

.btnduke{
    background-color: transparent;
    border-color: white;
    border: 1px solid white;
    padding: 20px;
    color: white;
    margin-left: 7%;
    width: 200px;
    /* clip-path: polygon(100% 0%, 100% 100%, 0% 100%) */
}

.btnduke:hover{
    color: #ff6600;
    border: 1px solid #ff6600;
}

.overview{
    margin-top: 80px;
}

.overview p, h2{
    font-weight: bold;
}

.image{
    width: 135%;
}

/* response for mobile */
@media (max-width: 400px) {
    .image{
        width: 100%;
    }
}